* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #AFD6ED;
    text-align: center;
    color: rgb(0, 0, 0);
}

#container {
    height: 35em;
    width: 90%;
    background-color: #F2E9E4;
    position: relative;
    top: 2em;
    left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#container > div {
    width: 100%;
    background-color: black;
}

#header-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    position: relative;
}

/*
div {
    height: 25em;
    width: 80%;
    background-color: #03738C;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

div > img {
    width: 100%;
    border-radius: 10px;
    border-bottom: 2px solid white;
}

*/