* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #AFD6ED;
    text-align: center;
    color: #2C2740;
}

header {
    position: relative;
    top: 2em;
}

#container {
    height: 50em;
    width: 100%;
    border-radius: 10px;
    background-color: #F2E9E4;
    position: relative;
    top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#container > img {
    width: 50%;
    margin: 0 auto;
    height: 10em;
}

#container > #tourist {
    display: none;
}

#container > form {
    position: relative;
    bottom: 2em;
}

#container > form > #lname, #fname {
    margin-bottom: 1em;
    border-radius: 5px;
    height: 3em;
    border: none;
}


#container > form > .img-person {
    height: 20px;
    position: relative;
    top: 4px;
    right: 2px;
}

#container > form > button {
    position: relative;
    top: 2em;
    height: 3em;
    width: 5.5em;
    border: none;
    background-color: #AFD6ED;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

#container > form > button:hover {
    background-color: #A66D6D;
}

#container > form > fieldset {
    position: relative;
    top: 4em;
    height: 8em;
}

#container > form > fieldset > #facebook-logo {
    height: 1.5em;
    width: 1.5em;
    position: relative;
    top: 18px;
}

#container > form > fieldset > #facebook-btt {
    border: none;
    background-color: #1877F2;
    color: white;
    height: 2.5em;
    border-radius: 10px;
    width: 10em;
    position: relative;
    top: 1em;
    cursor: pointer;
}

#container > form > fieldset > #google-logo {
    height: 1.5em;
    width: 1.5em;
    position: relative;
    top: 33px;
}

#container > form > fieldset > #google-btt {
    border: none;
    background-color: #FF4B26;
    color: white;
    height: 2.5em;
    border-radius: 10px;
    width: 10em;
    position: relative;
    top: 2em;
    cursor: pointer;
}

::placeholder {
    color: rgb(0, 0, 0);
    text-align: center;
  }

  /*    */

  @media only screen and (min-width: 700px) {
    #container > img {
        height: 15em;
    }
  }

  @media only screen and (min-width: 784px) {
    #container > img {
        display: none;
    }

    #container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        height: 30em;
    }

    #container > form {
        border-left: 5px solid white;
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        bottom: 0;
        width: 50%;
    }

    #container > form > input, fieldset {
        width: 90%;
        margin: 0 auto;
    }

    #container > form > button {
        margin: 0 auto;
    }

    #container > form > .img-person {
        display: none;
    }

    #container > #tourist {
        display: inline-block;
        width: 50%;
        margin: 0 auto;
        height: 15em;
        position: relative;
        
        top: 5em;
    }
  }

  @media only screen and (min-width: 1200px) {
    #container > #tourist {
        width: 25em;
    }

    #container {
        width: 50%;
        margin: 0 auto;
    }
  }

  